{% extends 'base.html' %}

{% block title %}Locations{% endblock %}

{% block content %}
<h1 class="title pt-5">Trending Locations</h1>
<form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" name="name" placeholder="name" />
      </div>
      <div class="control">
        <input class="button is-success" type="submit" value="Search" />
      </div>
    </div>
    <!--  This anchor tag will redirect back to location list without a query param -->
    <a class="button is-dark" href="{% url 'location_list' %}">Clear Search</a>
  </form>
<div class="gallery">
    {% for location in locations %}
    <a href="{% url 'location_detail' location.pk %}">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img src="{{location.img}}" alt="{{location.name}}" />
                </figure>
            </div>
            <div class="card-header">
                <p class="card-header-title">
                    {{location.name}}
                </p>
            </div>
        </div>
    </a>
    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No Location Available</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}